<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>

    <title>Kvizz</title>
    <meta content='' name='descriptison'>
    <meta content='' name='keywords'>




    <style>
        .bs-example {
            margin: 20px;
        }
    </style>
    <!--<script>
            $(document).ready(function () {
                $('#myTab a').click(function (e) {
                    e.preventDefault();
                    $(this).tab('show');
                });

            });

        </script>
        -->


        <!-- animate.jss -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet'>

    <!--   <link href='/assets/img/favicon.png' rel='icon'>
        <link href='/assets/img/apple-touch-icon.png' rel='apple-touch-icon'>
        <link href='/assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet'>
        <link href='/assets/vendor/icofont/icofont.min.css' rel='stylesheet'>
        <link href='/assets/vendor/boxicons/css/boxicons.min.css' rel='stylesheet'>
        <link href='/assets/vendor/animate.css/animate.min.css' rel='stylesheet'>
        <link href='/assets/vendor/remixicon/remixicon.css' rel='stylesheet'>
        <link href='/assets/vendor/line-awesome/css/line-awesome.min.css' rel='stylesheet'>
        <link href='/assets/vendor/venobox/venobox.css' rel='stylesheet'>
        <link href='/assets/vendor/owl.carousel/assets/owl.carousel.min.css' rel='stylesheet'>
        <link href='/assets/vendor/aos/aos.css' rel='stylesheet'>
        <link href='assets/css/style.css' rel='stylesheet'>
        -->

    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js' integrity='sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW' crossorigin='anonymous'></script>
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1' crossorigin='anonymous'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js'></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script>
        //

        // async function unticker() {

        //     var array = document.getElementById('clicking').querySelectorAll('#tick');
        //     console.log(array);
        //     for (let i = 0; i < array.length; i++) {
        //         array[i].style.color = 'gray';
        //         console.log(i);
        //     }
        //     document.getElementById('correct_option').setAttribute('value', 0);
        // }
    </script>

    <style>
        body,
        html {
            height: 100%;


        }

        * {
            box-sizing: border-box;
        }

        .modal {
            overflow-y: auto;
        }

        .bg-image {
            /* The image used */
            background-image: url("/assets/img/bg/bgQuestion.jpg");
            background-repeat: repeat-y;
            /* Add the blur effect */
            /* filter: blur(8px);
            -webkit-filter: blur(8px); */
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            /* background-repeat: no-repeat; */
            background-size: cover;
        }
        /* Position text in the middle of the page/image */

        .bgg-text {
            /* Fallback color */
            /* Black w/opacity/see-through */
            color: black;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
        }

        /* #exit:hover {
            background: #ef6603;
            border-radius: 15px;
        }

        #dombtn:hover {
            background: #ef6603;
            border-radius: 15px;
        }

        #dombtn {
            background: #ef6603;
            margin-right: 16px;
        } */

        #exit {
            margin-right: 20px;
        }

        #delete:hover {
            background: #03ef95;
            border-radius: 15px;

        }
        #dombtn:hover{
            transform : scale(1.2);

        }
        #imageIcon:hover{
            transform : scale(1.2);
        }
        .input{
            padding-left: 2vh;
        }
    </style>
    <script src='/assets/js/dom.js'></script>


</head>


<!-- style='background-image: url("/assets/img/bgQestion.jpg");' -->



<body class='container-fluid bg-image ' >
    <nav class='navbar  sticky-top navbar-expand-lg navbar-light ' style='background:rgb(50, 53, 72);'>
        <a class='navbar-brand text-light' href='#' style='font-weight: bolder; font-size: 25px;'>Kvizz</a>
        <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation'>
                <span class='navbar-toggler-icon'></span>
                </button>
        <div class='collapse navbar-collapse' id='navbarNav'>
            <ul class='navbar-nav ml-auto'>
                <li class='nav-item active'>
                    <button class='nav-link text-light btn ' id='exit'>Exit <span class='sr-only'>(current)</span></button>
                </li>
                <li class='nav-item active mr-5'>
                    <a href='/api/v1/doneQuiz' class='btn text-light' id='delete'>Done  <span class='sr-only'>(current)</span></a>
                </li>


            </ul>
        </div>
    </nav>
    <div ></div>

    <div class='container-fluid bgg-text mt-5 h-100 '>



        <div class='d-flex justify-content-center align-items-center mt-0 pt-5 '>
            <button type='button' id='dombtn' class='animate__heartBeat btn-lg btn-info col-3 mr-5 shadow-lg  text-light font-weight-bold ' onclick='callMcqModal()'>MCQ</button>
            <button type='button' id='dombtn' class='animate__heartBeat btn-lg btn-info col-3 mr-5 shadow-lg  text-light font-weight-bold ' onclick='callFillModal()'>FILL</button>
            <button type='button' id='dombtn' class='animate__heartBeat btn-lg btn-info col-3 mr-5 shadow-lg  text-light font-weight-bold ' onclick='callPollModal()'>POLL</button>
        </div>
        <div class='col-6 col-md-12 pt-2'>


            <div class='bs-example '>
                <div class='bs-example row  justify-content-center h-100'>

                    <div class='col d-flex justify-content-center h-100'>


                        <div id='commentBox' class='col-8 ' style="height:30vh">
                            <!-- Sample Reference Comment -->



                        </div>

                    </div>
                </div>
            </div>

            <!--dom div start for mcq-->

            <div id='referenceCommentId' style='visibility: hidden;'>
                <div class='container d-flex justify-content-center align-items-center mt-2   style='width:50vw;height:25vh'>
                    <div class='card w-100' style='background:rgba(225, 226, 231, 0.9);width: 43vw; '>
                        <div class='card-body w-100 '>
                            <div class='row d-flex align-items-center justify-content-around'>
                                <div class='col-5'>
                                    <h5 id='questionName' class='card-title text-dark'>Question &nbsp;<span id='numinc'>0</span> <span id='type'></span> </h5>
                                </div>
                                <div class='col-5  d-flex justify-content-end align-items-center' style='margin-right: 2vw; '>
                                    <div class='col-1 mr-4'>
                                        <button class='btn shadow-none' type='button' id='editbtnpoll' onclick='editQ(this)'> <i class='fa fa-edit  green-color pt-1' style='color:#ef6603; font-size:30px;'></i></button>

                                    </div>
                                    <div class='col-1'>
                                        <button class='btn shadow-none ' type='button' onclick='deleteQ(this)'><i class='fa fa-trash  green-color p-0' style='color:#ef6603; font-size:27px;'></i></button>
                                    </div>
                                </div>
                            </div>

                            <hr class='p-0.2 m-0.5'>
                            <div class='d-flex justify-content-right align-items-center text-dark  pl-3 row '>dvdsvdsv The Covid-19 pandemic led to shutdown of the schools, offices, coaching institutes and almost all the major sectors of the economy. But that doesn't mean that it should hamper the work routines. Due
                                <span id='src' style='visibility: hidden;'> </span>
                            </div>
                            <hr class='p-0.2 m-0.5'>
                            <div>
                                <div class=' row d-flex justify-content-center ml-1 align-items-center '>
                                    <div class='col'>
                                        <div class='row p-0'>
                                            <div class='col-1 p-0 '> <i class='fa fa-circle  p-0' style='color:red; font-size:20px;'></i></div>
                                            <div class='col-11 pl-2 text-dark d-flex justify-content-between'> one , now an entire 5 storey office can </div>
                                        </div>
                                    </div>
                                    <div class='col'>
                                        <div class='row p-0'>
                                            <div class='col-1 p-0'> <i class='fa fa-circle    p-0' style='color:red; font-size:20px;'></i></div>
                                            <div class='col-11 pl-2 text-dark'> two tools, now an entire 5 storey office can </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=' row d-flex justify-content-center ml-1 align-items-center '>
                                    <div class='col'>
                                        <div class='row p-0'>
                                            <div class='col-1 p-0'> <i class='fa fa-circle    p-0' style='color:red; font-size:20px;'></i></div>
                                            <div class='col-11 pl-2 text-dark'> three tools, now an entire 5 storey office can </div>
                                        </div>
                                    </div>
                                    <div class='col'>
                                        <div class='row'>
                                            <div class='col-1 p-0'> <i class='fa fa-circle   p-0' style='color:red; font-size:20px;'></i></div>
                                            <div class='col-11 pl-2 text-dark'> four tools, now an entire 5 storey office can </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- mcq end -->

            <!-- poll dom start -->
            <div id='referencepollId' style='visibility: hidden;'>
                <div class='container d-flex justify-content-center align-items-center mt-2 '>
                    <div class='card ' style='background:rgba(225, 226, 231, 0.9);width: 43vw; '>
                        <div class='card-body  '>
                            <div class='row d-flex align-items-center justify-content-around'>
                                <div class='col-5'>
                                    <h5 id='questionName' class='card-title text-dark'>Question &nbsp;<span id='numinc'>0</span> <span id='type'></span> </h5>
                                </div>
                                <div class='col-5  d-flex justify-content-end align-items-center' style='margin-right: 2vw; '>
                                    <div class='col-1 mr-4'>
                                        <button class='btn shadow-none' id='editbtnpoll' onclick='editPoll(this)'> <i class='fa fa-edit  green-color pt-1' style='color:#ef6603; font-size:30px;'></i></button>

                                    </div>
                                    <div class='col-1'>
                                        <button class='btn shadow-none ' onclick='deleteQ(this)'><i class='fa fa-trash  green-color p-0' style='color:#ef6603; font-size:27px;'></i></button>
                                    </div>
                                </div>
                            </div>

                            <hr class='p-0.2 m-0.5'>
                            <div class='d-flex justify-content-right align-items-center text-dark  pl-3 row '>dvdsvdsv The Covid-19 pandemic led to shutdown of the schools, offices, coaching institutes and almost all the major sectors of the economy. But that doesn't mean that it should hamper the work routines. Due

                            </div>
                            <hr class='p-0.2 m-0.5'>
                            <div>
                                <div class=' row d-flex justify-content-center ml-1 align-items-center '>
                                    <div class='col'>
                                        <div class='row p-0'>
                                            <div class='col-1 p-0 '> <i class='fa fa-circle  p-0' style='color:red; font-size:20px;'></i></div>
                                            <div class='col-11 pl-2 text-dark d-flex justify-content-between'> one , now an entire 5 storey office can </div>
                                        </div>
                                    </div>
                                    <div class='col'>
                                        <div class='row p-0'>
                                            <div class='col-1 p-0'> <i class='fa fa-circle    p-0' style='color:red; font-size:20px;'></i></div>
                                            <div class='col-11 pl-2 text-dark'> two tools, now an entire 5 storey office can </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=' row d-flex justify-content-center ml-1 align-items-center '>
                                    <div class='col'>
                                        <div class='row p-0'>
                                            <div class='col-1 p-0'> <i class='fa fa-circle    p-0' style='color:red; font-size:20px;'></i></div>
                                            <div class='col-11 pl-2 text-dark'> three tools, now an entire 5 storey office can </div>
                                        </div>
                                    </div>
                                    <div class='col'>
                                        <div class='row'>
                                            <div class='col-1 p-0'> <i class='fa fa-circle   p-0' style='color:red; font-size:20px;'></i></div>
                                            <div class='col-11 pl-2 text-dark'> four tools, now an entire 5 storey office can </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <!--dom div start for fill-->
            <div id='referencefillId' style='visibility:hidden'>
                <div class='container d-flex justify-content-center align-items-center mt-2 '>
                    <div class='card ' style='background:rgba(225, 226, 231, 0.9);width: 43vw; '>
                        <div class='card-body '>
                            <div class='row d-flex align-items-center justify-content-around '>
                                <div class='col-5 '>
                                    <h5 id='questionName' class='card-title text-dark '>Question &nbsp;<span id='numinc'>0</span> <span id='type'></span> </h5>
                                </div>
                                <div class='col-5 d-flex justify-content-end align-items-center ' style='margin-right: 2vw; '>
                                    <div class='col-1 mr-4 '>
                                        <button class='btn shadow-none ' onclick='editFillQ(this)'> <i class='fa fa-edit green-color pt-1 ' style='color:#ef6603; font-size:30px; '></i></button>

                                    </div>
                                    <div class='col-1 '>
                                        <button class='btn shadow-none ' onclick='deleteQ(this)'><i class='fa fa-trash green-color p-0 ' style='color:#ef6603; font-size:27px; '></i></button>
                                    </div>
                                </div>
                            </div>

                            <hr class='p-0.2 m-0.5 '>
                            <div class='d-flex justify-content-right align-items-center text-dark pl-3 row '>dvdsvdsv The Covid-19 pandemic led to shutdown of the schools, offices, coaching institutes and almost all the major sectors of the economy. But that doesn't mean that it should hamper the work routines. Due

                            </div>
                            <hr class='p-0.2 m-0.5 '>
                            <div>
                                <div class=' row d-flex justify-content-center ml-1 align-items-center '>
                                    <div class='col '>
                                        <div class='row p-0 '>
                                            <div class='col-1 p-0 '> <i class='fa fa-circle p-0 ' style='color:red; font-size:20px; '></i></div>
                                            <div class='col-11 p-0 text-dark '> one , now an entire 5 storey office can </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <!--MCQ MODEL START-->

    <div class='modal fade bd-example-modal-lg' id='mcqModal' tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel' aria-hidden='true'>
        <div class='modal-dialog modal-lg'>
            <div class='modal-content'>

                    <div class='modal-header  bg-dark text-light'>
                        <h5 class='modal-title' id='mcqModalquestion'>Multiple choice question</h5>
                        <button type='button' class='close btn btn-outline-danger text-white ' onclick='cancel()'>
                                  <span aria-hidden='true'>&times;</span>
                                </button>
                    </div>

                            <div class=' row d-flex justify-content-center h-100 align-items-start' style='height:100vh ;'>
                                <form class='was-validated'>

                                    <div id='clicking h-75' class=' col-6 col-sm-12 '>
                                        <div class='card'  >
                                            <div class='card-body'>

                                                <div class='row d-flex justify-content-center mt-3'>
                                                    <div class="alert alert-danger" style="display: none" id="msg">

                                                    </div>

                                                    <div class='col-9 d-flex justify-content-center  align-items-center' id='funkystyling' >
                                                        <input type='text' class=' w-100 pl-4 form-control is-valid p-0 ' id='mcqquestion' name='quesStatement ' required maxLength='255 ' minLength='5 ' style='height:8vh;font-size:4vh ' placeholder='write your question here ' aria-label=' ' aria-describedby='basic-addon1 '
                                                            required>

                                                    </div>
                                                    <!-- <div class='row '>
                                                        <img style='visibility:hidden ' class='img h-50 w-50 mt-2 border-outline-primary ' id='questionImage ' src=' ' alt='question Image '>
                                                    </div> -->
                                                    <div class='col-3 d-flex justify-content-center align-items-center ' onclick='imageFunc()'>
                                                        <button class='btn ' type='button' style='font-size:10vh; color:gray '>
                                                            <i class='fas fa-image ' id="imageIcon"style='font-size:8vh '></i>
                                                    </div>
                                                </div>
                                                <div  class='row m-2 justify-content-center '>
                                                    <img style='display:none;height: 25vh;width: 20vw; ' name='question_image ' src="" id='imgPreview' alt=' '>
                                                </div>
                                                <div class='row d-flex justify-content-center mt-3 '>
                                                    <div class='col-1 p-0 d-flex justify-content-center '>

                                                        <i onclick='tick1(this) ' type='radio ' id='tick1' class='fas fa-check-circle ' style='font-size:40px; color:gray '></i>

                                                    </div>
                                                    <div class='col-11 d-flxe justify-content-center align-items-center ' style='height:50px '>
                                                        <input type='text' class='form-control  pl-4 is-valid p-0 ' id='mcqoption1' name='1 '  style='height:50px ' placeholder='answer option 1 ' aria-label=' ' aria-describedby='basic-addon1 ' required>
                                                    </div>
                                                </div>

                                                <div class='modal fade' id='exampleModalCenter' tabindex='-1 ' role='dialog ' aria-labelledby='exampleModalCenterTitle ' aria-hidden='true '>
                                                    <div class='modal-dialog modal-dialog-centered ' role='document '>
                                                        <div class='modal-content '>
                                                            <div class='modal-header '>
                                                                <h5 class='modal-title' id='exampleModalLongTitle'>Insert Image</h5>
                                                                <button type='button' class='close' onclick='closeImageModal() '>
                                                                            <span aria-hidden='true '>&times;</span>
                                                                        </button>
                                                    </div>
                                                    <div class='modal-body '>
                                                        <div class='file-upload-wrapper '>
                                                            <input type='file' id='mcq-input-file-now' class='file-upload ' />
                                                        </div>
                                                    </div>
                                                    <div class='modal-footer '>
                                                        <button type='button' class='btn btn-danger ' onclick='closeImageModal() '>Close</button>
                                                        <button type='button' class='btn btn-primary ' name='mcq' onclick='uploadQuestionImage(this) '>Upload</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class='row d-flex justify-content-center mt-3'>
                                            <div class='col-1 p-0 d-flex justify-content-center '><i onclick='tick2(this) ' id='tick2' class='fas fa-check-circle ' style='font-size:40px; color:gray; '></i></div>
                                            <div class='col-11 d-flex justify-content-center align-items-center ' style='height:50px; '>
                                                <input type='text' class='form-control pl-4  p-0 is-valid ' id='mcqoption2' name='2' style='height:50px; ' placeholder='answer option 2 ' aria-label=' ' aria-describedby='basic-addon1 ' required>
                                            </div>

                                        </div>

                                        <div class='row d-flex justify-content-center mt-3 '>
                                            <div class='col-1 p-0 d-flex justify-content-center '><i id='tick3' onclick='tick3(this)' class='fas fa-check-circle ' style='font-size:40px; color:gray; '></i></div>
                                            <div class='col-11 d-flex justify-content-center align-items-center ' style='height:50px; '>
                                                <input type='text' class='form-control p-0 is-valid pl-4 ' id='mcqoption3' name='3 ' style='height:50px; ' placeholder='answer option 3 ' aria-label=' ' aria-describedby='basic-addon1 ' required>
                                                <!-- <button class='btn btn-outline-primary '><i class='fas fa-trash-alt '
                                                                        style='font-size:25px; color:gray; '></i></button> -->
                                            </div>

                                        </div>

                                        <div class='row d-flex justify-content-center mt-3 '>
                                            <div class='col-1 p-0 d-flex justify-content-center '><i id='tick4' onclick='tick4(this)' class='fas fa-check-circle ' style='font-size:40px; color:gray; '></i></div>
                                            <div class='col-11 d-flex justify-content-center align-items-center ' style='height:50px; '>
                                                <input type='text' class='form-control p-0 is-valid pl-4 ' id='mcqoption4' name='4' style='height:50px; ' placeholder='answer option 4 ' aria-label=' ' aria-describedby='basic-addon1 ' required>
                                                <!-- <a href='# '><i class='fas fa-trash-alt '
                                                                        style='font-size:25px; color:gray '></i></a> -->

                                            </div>

                                        </div>


                                        <div class='row justify-content-start align-items-center mt-3 pl-3 '>
                                            <div class='col d-flex '>
                                                <div class='form-group col-6 d-flex justify-content-start align-items-center '>
                                                    <label class=' mr-2 ' for='dificulty' style='font-weight:bold; '>Level</label>
                                                    <select class='btn is-valid btn-outline-light text-dark shadow ' name='difficulty ' id='difficulty' style='height: 40px; width:200px '><i class='far fa-clock '></i>
                                                                        <option >Easy</option>
                                                                        <option >Medium</option>
                                                                        <option >Hard</option>

                                                                    </select>
                                                </div>
                                                <div class='form-group col-6 d-flex justify-content-end align-items-center '>
                                                    <label for='maxpoint mr-2 ' style='font-weight:bold '>Max Points</label>
                                                    <select class=' ml-2 btn is-valid btn-outline-light text-dark shadow h-100 w-50' style='border-radius: 10%;outline: none; ' name='maxpoint' id='maxpoint'><i class='far fa-clock '></i>

                                                                        <option value='250 '>250</option>
                                                                        <option value='500 '>500</option>
                                                                        <option value='1000 '>1000</option>
                                                                        <option value='2000 '>2000</option>

                                                                    </select>
                                                </div>


                                            </div>
                                        </div>
                                        <div class='row justify-content-between align-items-center '>
                                            <div class='col-4 p-0 mt-3 ml-2 '>
                                                <button type='button' class='btn w-100 is-valid btn-outline-light text-dark shadow '>tag topic</button>
                                            </div>
                                            <div class='col-6 align-items-center p-0 '>
                                                <div class='col d-flex justify-content-end '>
                                                    <label for='time mr-2 ' class='mr-2 ' style='font-weight:bold '>Select Time</label>
                                                    <select class='btn is-valid btn-outline-light text-dark shadow ' name='timer ' id='timer' style='height:40px; width:200px '>
                                                                    <i>class='far fa-clock '></i>

                                                                    <option value='10 '>10 Seconds</option>
                                                                    <option value='20 '>20 Seconds</option>
                                                                    <option value='30 '>30 Seconds</option>
                                                                    <option value='45 '>45 Seconds</option>
                                                                    <option value='60 '>60 Seconds</option>
                                                                    <option value='120 '>2 Minutes</option>

                                                        </select>
                                                </div>

                                            </div>
                                        </div>
                                        <div class='row d-flex justify-content-center align-items-center mt-3 p-0 '>


                                            <div class='col-lg-3 col-4 col-sm-12 p-0 mt-2 mr-2 '>
                                                <button type='button' onclick='cancel()' class='btn shadow btn-outline-danger btn-sm btn-block p-0 ' style='height:40px; '>cancel</button>
                                            </div>
                                            <input type='hidden' id='correct_option' name='correctoption ' value=' '>

                                            <div class='col-lg-3 col-4 col-sm-12 p-0 mt-2 '>

                                                <button type='button' onclick='mcqajax() ' id='mcqbutton' class='btn shadow btn-outline-success btn-sm btn-block ml-1 p-0 ' style='height:40px; '>save</button>

                                            </div>


                                        </div>

                                    </div>
                                </form>
                            </div>

                            </form>
                        </div>





        </div>
    </div>
    </div>
    </div>
    <!--MCQ MODEL END-->

    <!--dom div end for mcq-->


    <!--FILL IN THE BLACK START-->

    <div class='modal fade bd-example2-modal-lg ' id='fillModal' tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel ' aria-hidden='true '>
        <div class='modal-dialog modal-lg' >
            <div class='modal-content h-100 '>
                <div class='tab-content '>
                    <div class='modal-header '>
                        <h5 class='modal-title ' id='exampleModalLabel'>Fill In The Blank</h5>
                        <button type='button' class='close btn btn-outline-danger ' onclick='cancel() '>
                          <span aria-hidden='true '>&times;</span>
                        </button>
                    </div>
                    <div class='tab-pane fade show active h-100' id='mcq'>
                        <div class='container p-0 m-0 mcq-xl ' id='mcq'>
                            <div class=' row d-flex justify-content-center h-100  align-items-center ' style='height:100vh ; '>
                                <form id='myform' class='was-validated '>

                                    <div class=' col-6 col-sm-12 '>
                                        <div class='card '>
                                            <div class='card-body '>

                                                <div class='row d-flex h-100 justify-content-center align-items-center '>

                                                    <div class='col-8 d-flex justify-content-center align-items-center ' id='funkystyling' style='height:5vh; '>
                                                        <input type='text' class='form-control is-valid p-0 pl-4  ' id='questionf' name='quesStatement ' required maxLength='255 ' minLength='5 ' style='height:8vh;font-size:3vh ' placeholder='write your question here ' aria-label=' ' aria-describedby='basic-addon1 ' required>
                                                    </div>

                                                    <div class='col-lg-2 col-2d-flex justify-content-center align-items-center ' onclick='imageFunc1()'>
                                                        <button class='btn ' type='button' style='font-size:4vh; color:gray '>
                                                            <i class='fas fa-image ' id="imageIcon" style='font-size:4vh '></i>
                                                    </div>
                                                </div>
                                                <div class='row justify-content-center align-items-center '>
                                                    <img style='display:none' class='img h-50 w-50 mt-2 border-outline-primary ' id='imgPreviewFill' src="" alt='question Image'>
                                                </div>

                                                 <div class='modal fade ' id='exampleModalCenter1' tabindex='-1 ' role='dialog ' aria-labelledby='exampleModalCenterTitle ' aria-hidden='true '>
                                                    <div class='modal-dialog modal-dialog-centered ' role='document '>
                                                        <div class='modal-content '>
                                                            <div class='modal-header '>
                                                                <h5 class='modal-title ' id='exampleModalLongTitle'>Insert Image</h5>
                                                                <button type='button' class='close ' onclick='closeImageModal1()'>
                                                                <span aria-hidden='true '>&times;</span>
                                                                </button>
                                                    </div>
                                                    <div class='modal-body '>
                                                        <div class='file-upload-wrapper'>
                                                            <input type='file' id='fill-input-file-now' class='img-upload' />
                                                        </div>
                                                    </div>
                                                    <div class='modal-footer '>
                                                        <button type='button' class='btn btn-danger' onclick='closeImageModal1()'>Close</button>
                                                        <button type='button' class='btn btn-primary' name='fillup' onclick='uploadFillQImage()'>Upload</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class='row d-flex justify-content-start align-items-center mt-3 mb-3 pl-3 '>
                                            <div class='col ' style='color:gray '>
                                                Add the answer
                                            </div>
                                        </div>

                                        <div class='row d-flex justify-content-center mt-3 '>
                                            <div class='col d-flex justify-content-center align-items-center ' style='height:50px '>
                                                <input type='text' id='option1f' class='form-control is-valid p-0 mr-1 ' style='height:6vh;font-size:3vh ' placeholder=' Answer* ' aria-label=' ' aria-describedby='basic-addon1 ' required>
                                            </div>
                                        </div>
                                        <!-- <div class='row d-flex justify-content-center mt-3 '>
                                                    <div class='col d-flex justify-content-center align-items-center ' style='height:50px '>
                                                        <input type='text' id='option2f ' class='form-control p-0 mr-1 ' style='height:50px ' placeholder=' Answer 2 ' aria-label=' ' aria-describedby='basic-addon1 '>
                                                    </div>
                                                </div>
                                                <div class='row d-flex justify-content-center mt-3 '>
                                                    <div class='col d-flex justify-content-center align-items-center ' style='height:50px '>
                                                        <input type='text' id='option3f ' class='form-control p-0 mr-1 ' style='height:50px ' placeholder=' Answer 3 ' aria-label=' ' aria-describedby='basic-addon1 '>
                                                    </div>
                                                </div>
                                                <div class='row d-flex justify-content-center mt-3 '>
                                                    <div class='col d-flex justify-content-center align-items-center ' style='height:50px '>
                                                        <input type='text' id='option4f ' class='form-control p-0 mr-1 ' style='height:50px ' placeholder=' Answer 4 ' aria-label=' ' aria-describedby='basic-addon1 '>
                                                    </div>
                                                </div> -->

                                        <div class='row justify-content-start align-items-center mt-3 pl-3 '>
                                            <div class='col d-flex '>
                                                <div class='form-group col-6 d-flex justify-content-start align-items-center '>
                                                    <label class=' mr-2 ' for='dificulty ' style='font-weight:bold; '>Level</label>
                                                    <select class='btn is-valid btn-outline-light text-dark shadow ' name='difficulty' id='difficulty_fill' style='height: 40px; width:200px '><i class='far fa-clock '></i>
                                                                                <option >Easy</option>
                                                                                <option >Medium</option>
                                                                                <option >Hard</option>

                                                                            </select>
                                                </div>
                                                <div class='form-group col-6 d-flex justify-content-end align-items-center '>
                                                    <label for='maxpoint mr-2 ' style='font-weight:bold '>Max Points</label>
                                                    <select class=' ml-2 btn is-valid btn-outline-light text-dark shadow h-100 w-50 ' style='border-radius: 10%;outline: none; ' name='maxpoint ' id='maxpoint_fill'><i class='far fa-clock '></i>

                                                                                <option value='250 '>250</option>
                                                                                <option value='500 '>500</option>
                                                                                <option value='1000 '>1000</option>
                                                                                <option value='2000 '>2000</option>

                                                                            </select>
                                                </div>


                                            </div>
                                        </div>
                                        <div class='row justify-content-between align-items-center '>
                                            <div class='col-4 p-0 mt-3 ml-2 '>
                                                <button type='button' class='btn w-100 is-valid btn-outline-light text-dark shadow '>tag topic</button>
                                            </div>
                                            <div class='col-6 align-items-center p-0 '>
                                                <div class='col d-flex justify-content-end '>
                                                    <label for='time ' class='mr-2' style='font-weight:bold '>Select Time</label>
                                                    <select class='btn is-valid btn-outline-light text-dark shadow ' name='timer' id='timer_fill' style='height:40px; width:200px '>
                                                                            <i>class='far fa-clock '></i>

                                                                            <option value='10 '>10 Seconds</option>
                                                                            <option value='20 '>20 Seconds</option>
                                                                            <option value='30 '>30 Seconds</option>
                                                                            <option value='45 '>45 Seconds</option>
                                                                            <option value='60 '>60 Seconds</option>
                                                                            <option value='120 '>2 Minutes</option>

                                                                </select>
                                                </div>

                                            </div>
                                        </div>
                                        <div class='row d-flex justify-content-center align-items-center mt-3 p-0 '>


                                            <div class='col-lg-3 col-4 col-sm-12 p-0 mt-2 mr-2 '>
                                                <button type='button' onclick='cancel()' class='btn shadow btn-outline-danger btn-sm btn-block p-0 ' style='height:40px; '>cancel</button>
                                            </div>
                                            <!-- <input type='hidden' id='correct_option ' name='correctoption ' value=' '> -->

                                            <div class='col-lg-3 col-4 col-sm-12 p-0 mt-2 '>

                                                <button type='button' onclick='fillajax()' id='fillbutton' class='btn shadow btn-outline-success btn-sm btn-block ml-1 p-0 ' style='height:40px; '>save</button>

                                            </div>


                                        </div>

                                        <!--
                                                <div class='row d-flex justify-content-start align-items-center mt-3 pl-3 '>
                                                    <div class='col '>
                                                        <div class='form-group '>

                                                            <select name='difficulty ' id='difficulty_fill ' style='height: 40px; width:200px '><i class='far fa-clock '></i>
                                                                <option value='Easy ' >Easy</option>
                                                                <option value='Medium ' >Medium</option>
                                                                <option value='Hard ' >Hard</option>

                                                            </select>
                                                        </div>
                                                        <div class='form-group '>
                                                            <label for='maxpoint '>Max Points</label>
                                                            <select name='maxpoint ' id='maxpoint_fill ' style='height: 30px; width:8vw '><i class='far fa-clock '></i>
                                                                <option value='250 '>250</option>
                                                                <option value='500 '>500</option>
                                                                <option value='1000 '>1000</option>
                                                                <option value='2000 '>2000</option>
                                                            </select>
                                                        </div>


                                                    </div>
                                                </div>
                                                <div class='row d-flex justify-content-start align-items-center '>
                                                    <div class='col-3 p-0 mt-3 border border-dark '>
                                                        <button type=button' class='btn btn-dark btn-block '>tag topic</button>
                                                    </div>
                                                    <div class='col-7 '></div>
                                                </div>


                                                <div class='row d-flex justify-content-start align-items-center d-flex justify-content-start align-items-center mt-3 p-0 '>
                                                    <div class='row p-0 m-0 d-flex justify-content-center align-items-center '>
                                                        <div class='col-lg-6 col-sm-12 p-0 d-flex justify-content-start ' style='height:40px; width:70px; '>

                                                            <!-- timer for fill  -->
                                        <!-- <select name='timer ' id='timer_fill ' style='height:40px; width:200px '><i
                                                             class='far fa-clock '></i>
                                                            <option value='10 '>10 Seconds</option>
                                                            <option value='20 '>20 Seconds</option>
                                                            <option value='30 '>30 Seconds</option>
                                                            <option value='45 '>45 Seconds</option>
                                                            <option value='60 '>60 Seconds</option>
                                                            <option value='120 '>2 Minutes</option>

                                                        </select>
                                            </div>
                                            <div class='col-lg-3 col-sm-12 p-0 mt-2 '>
                                                <button type=button' onclick='cancel() ' class='btn btn-danger btn-sm btn-block p-0 ' style='height: 40px '>cancel</button>
                                            </div>
                                            <div class='col-lg-3 col-sm-12 p-0 mt-2 '>
                                                <button id='fillbutton ' type=button' onclick='fillajax() ' class='btn btn-success btn-sm btn-block ml-1 p-0 ' style='height: 40px '>save</button>
                                            </div>
                                        </div>
                                    </div> -->
                                    </div>
                            </div>


                        </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>
    </div>
    </div>
    <!--FILL IN THE BLACK CLOSE-->

    <!--POLL MODEL START-->


    <div class='modal fade bd-example1-modal-lg' id='pollModal' tabindex='-1 ' role='dialog ' aria-labelledby='myLargeModalLabel ' aria-hidden='true '>
        <div class='modal-dialog modal-lg '>
            <div class='modal-content '>
                <div class='tab-content '>
                    <div class='modal-header '>
                        <h5 class='modal-title ' id='exampleModalLabel'>Polling</h5>
                        <button type='button' class='close btn btn-outline-danger ' onclick='cancel()'>
                          <span aria-hidden='true '>&times;</span>
                        </button>
                    </div>
                    <div class='tab-pane fade show active ' id='poll'>
                        <div class='container p-0 m-0 mcq-xl ' id='poll'>
                            <div class=' row d-flex justify-content-center align-items-start ' style='height:100vh ; '>
                                <form id='myform' class='was-validated '>

                                    <div class=' col-6 col-sm-12 bg-dark '>
                                        <div class='card '>
                                            <div class='card-body '>

                                                <div class='row d-flex justify-content-center mt-3 '>
                                                    <div class='col-9 d-flex justify-content-center align-items-center ' style='height:100px '>
                                                        <input type='text' class='form-control is-valid p-0 ' id='questionp' style='height:8vh;font-size:3vh ' placeholder='write your question here ' aria-label=' ' aria-describedby='basic-addon1 ' required>
                                                    </div>
                                                    <div class='col-lg-3 col-sm-12 d-flex justify-content-center align-items-center '>
                                                        <button class='btn ' type='button' style='font-size:25px;outline:none; color:gray ' onclick='imageFunc2() '><i class='fas fa-images '>image</i></button>
                                                    </div>
                                                </div>
                                                <div class='row m-2 justify-content-center '>
                                                    <img style='display:none;width: 20vw; ' name='question_image' src="" id='imgPreviewPoll' alt=' '>
                                                </div>
                                                <!-- <div class='row mt-4 '>
                                                    <div class='col '>
                                                        <input type='checkbox ' id='sel ' name='sel ' value='Allow Multiple Selection '>
                                                        <label for='sel '>&nbsp;&nbsp;Allow Multiple Selection</label><br></br>
                                                    </div>
                                                </div> -->


                                                <div class='row d-flex justify-content-center mt-3 '>
                                                    <!-- <div class='col-1 p-0 d-flex justify-content-center '><a href='# '><i id='tick ' class='fas fa-check-circle '  style='font-size:40px; color:gray '></i></a></div> -->
                                                    <div class='col-11 d-flex justify-content-center align-items-center ' style='height:50px '>
                                                        <input type='text' class='form-control is-valid p-0 ' id='option1p' style='height:50px ' placeholder='answer option 1 ' aria-label=' ' aria-describedby='basic-addon1 ' required>
                                                    </div>

                                                </div>

                                                <div class='row d-flex justify-content-center mt-3 '>
                                                    <!-- <div class='col-1 p-0 d-flex justify-content-center '><a href='# '><i id='tick ' class='fas fa-check-circle ' style='font-size:40px; color:gray '></i></a></div> -->
                                                    <div class='col-11 d-flex justify-content-center align-items-center ' style='height:50px '>
                                                        <input type='text' class='form-control is-valid p-0 ' id='option2p' style='height:50px ' placeholder='answer option 2 ' aria-label=' ' aria-describedby='basic-addon1 ' required>
                                                    </div>

                                                </div>

                                                <div class='row d-flex justify-content-center mt-3 '>
                                                    <!-- <div class='col-1 p-0 d-flex justify-content-center '><a href='# '><i id='tick ' class='fas fa-check-circle ' style='font-size:40px; color:gray '></i></a></div> -->
                                                    <div class='col-11 d-flex justify-content-center align-items-center ' style='height:50px '>
                                                        <input type='text' class='form-control is-valid p-0 ' id='option3p' style='height:50px ' placeholder='answer option 3 ' aria-label=' ' aria-describedby='basic-addon1 ' required>
                                                        <!-- <button class='btn ' style='outline: none '><i class='fas fa-trash-alt ' style='font-size:25px; color:gray '></i></button> -->
                                                    </div>

                                                </div>

                                                <div class='modal fade ' id='exampleModalCenter2' tabindex='-1 ' role='dialog ' aria-labelledby='exampleModalCenterTitle ' aria-hidden='true '>
                                                    <div class='modal-dialog modal-dialog-centered ' role='document '>
                                                        <div class='modal-content '>
                                                            <div class='modal-header '>
                                                                <h5 class='modal-title ' id='exampleModalLongTitle'>Insert Image</h5>
                                                                <button type='button' class='close ' onclick='closeImageModal2() ' aria-label='Close '>
                                                                <span aria-hidden='true '>&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class='modal-body '>
                                                                <div class='file-upload-wrapper '>
                                                                    <input type='file' id='poll-input-file-now' class='file-upload ' />
                                                                </div>
                                                            </div>
                                                            <div class='modal-footer '>
                                                                <button type='button' class='btn btn-secondary ' onclick='closeImageModal2() '>Close</button>
                                                                <button type='button' class='btn btn-primary ' name='poll ' onclick='uploadPollQImage() '>Upload</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class='row d-flex justify-content-center mt-3 '>
                                                    <!-- <div class='col-1 p-0 d-flex justify-content-center '><a href='# '><i id='tick ' class='fas fa-check-circle ' style='font-size:40px;color:gray '></i></a></div> -->
                                                    <div class='col-11 d-flex justify-content-center align-items-center ' style='height:50px; '>
                                                        <input type='text' class='form-control is-valid p-0 ' id='option4p' style='height:50px; ' placeholder='answer option 4 ' aria-label=' ' aria-describedby='basic-addon1 ' required>
                                                        <!-- <button class='btn ' style=' outline : none '><i class=' fas fa-trash-alt ' style='font-size:25px; color:gray; '></i></button> -->

                                                    </div>

                                                </div>



                                                <div class='row justify-content-start align-items-center mt-3 pl-3 '>
                                                    <div class='col d-flex '>
                                                        <div class='form-group col-6 d-flex justify-content-start align-items-center '>
                                                            <label class=' mr-2 ' for='dificulty ' style='font-weight:bold; '>Level</label>
                                                            <select class='btn is-valid btn-outline-light text-dark shadow ' name='difficulty ' id='difficulty_poll' style='height: 40px; width:200px '><i class='far fa-clock '></i>
                                                                                    <option >Easy</option>
                                                                                    <option >Medium</option>
                                                                                    <option >Hard</option>

                                                                                </select>
                                                        </div>
                                                        <div class='form-group col-6 d-flex justify-content-end align-items-center '>
                                                            <label for='maxpoint mr-2 ' style='font-weight:bold '>Max Points</label>
                                                            <select class=' ml-2 btn is-valid btn-outline-light text-dark shadow h-100 w-50 ' style='border-radius: 10%;outline: none; ' name='maxpoint ' id='maxpoint_poll'><i class='far fa-clock '></i>

                                                                                    <option value='250 '>250</option>
                                                                                    <option value='500 '>500</option>
                                                                                    <option value='1000 '>1000</option>
                                                                                    <option value='2000 '>2000</option>

                                                                                </select>
                                                        </div>


                                                    </div>
                                                </div>
                                                <div class='row justify-content-between align-items-center '>
                                                    <div class='col-4 p-0 mt-3 ml-2 '>
                                                        <button type='button' class='btn w-100 is-valid btn-outline-light text-dark shadow '>tag topic</button>
                                                    </div>
                                                    <div class='col-6 align-items-center p-0 '>
                                                        <div class='col d-flex justify-content-end '>
                                                            <label for='time mr-2 ' class='mr-2 ' style='font-weight:bold '>Select Time</label>
                                                            <select class='btn is-valid btn-outline-light text-dark shadow ' name='timer ' id='timer_poll' style='height:40px; width:200px '>
                                                                                <i>class='far fa-clock '></i>

                                                                                <option value='10 '>10 Seconds</option>
                                                                                <option value='20 '>20 Seconds</option>
                                                                                <option value='30 '>30 Seconds</option>
                                                                                <option value='45 '>45 Seconds</option>
                                                                                <option value='60 '>60 Seconds</option>
                                                                                <option value='120 '>2 Minutes</option>

                                                                    </select>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class='row d-flex justify-content-center align-items-center mt-3 p-0 '>


                                                    <div class='col-lg-3 col-4 col-sm-12 p-0 mt-2 mr-2 '>
                                                        <button type='button' onclick='cancel()' class='btn shadow btn-outline-danger btn-sm btn-block p-0 ' style='height:40px; '>cancel</button>
                                                    </div>
                                                    <!-- <input type='hidden' id='correct_option ' name='correctoption ' value=' '> -->

                                                    <div class='col-lg-3 col-4 col-sm-12 p-0 mt-2 '>

                                                        <button type='button' onclick='pollajax()' id='pollbutton' class='btn shadow btn-outline-success btn-sm btn-block ml-1 p-0 ' style='height:40px; '>save</button>

                                                    </div>

                                                </div>
                                            </div>
                                            <!--
                                        <div class='row d-flex justify-content-start align-items-center mt-3 pl-3 '>
                                            <div class='col '>
                                                <div class='form-group '>

                                                    <select name='difficulty ' id='difficulty_poll ' style='height: 40px; width:200px '><i class='far fa-clock '></i>
                                                                <option >Easy</option>
                                                                <option >Medium</option>
                                                                <option >Hard</option>

                                                            </select>
                                                </div>
                                                <div class='form-group '>
                                                    <label for='maxpoint '>Max Points</label>
                                                    <select name='maxpoint_poll ' id='maxpoint_poll ' value='select points ' style='height: 30px; width:8vw '><i class='far fa-clock '></i>
                                                                <option value='250 '>250</option>
                                                                <option value='500 '>500</option>
                                                                <option value='1000 '>1000</option>
                                                                <option value='2000 '>2000</option>
                                                            </select>
                                                </div>


                                            </div>
                                        </div>

                                        <div class='row d-flex justify-content-start align-items-center '>
                                            <div class='col-3 p-0 mt-3 border border-dark '>
                                                <button type=button' class='btn btn-dark btn-block '>tag topic</button>
                                            </div>
                                            <div class='col-7 '></div>
                                        </div>

                                        <div class='row d-flex justify-content-start align-items-center d-flex justify-content-start align-items-center mt-3 p-0 '>
                                            <div class='row p-0 m-0 d-flex justify-content-center align-items-center '>
                                                <div class='col-lg-6 col-sm-12 p-0 ' style='height: 40px; width:70px; '>

                                                    <select name='timer_poll ' id='timer_poll ' value='set timer ' style='height: 40px; width:200px; '><i class='far fa-clock '></i>
                                                            <option value='10 '>10 Seconds</option>
                                                            <option value='20 '>20 Seconds</option>
                                                            <option value='30 '>30 Seconds</option>
                                                            <option value='45 '>45 Seconds</option>
                                                            <option value='60 '>60 Seconds</option>
                                                            <option value='120 '>2 Minutes</option>
                                                                </select>
                                                </div>
                                                <div class='col-lg-3 col-sm-12 p-0 mt-2 '>
                                                    <button type=button' class='btn btn-danger btn-sm btn-block p-0 ' style='height: 40px ' onclick='cancel() '>cancel</button>
                                                </div>
                                                <div class='col-lg-3 col-sm-12 p-0 mt-2 '>
                                                    <button type=button' id='pollbutton ' onclick='pollajax() ' class='btn btn-success btn-sm btn-block ml-1 p-0 ' style='height: 40px '>save</button>
                                                </div>
                                            </div>
                                        </div> -->
                                        </div>

                                    </div>
                                </form>
                            </div>


                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
    </div>
    <!--POLL MODEL COLSE-->
    <div id='imageName1' style='visibility: hidden; '>
        <span id='image1'>

        </span>


    </div>

    <!-- <script src='https://code.jquery.com/jquery-3.5.1.min.js '></script> -->
    <script src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js '></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js '></script>
</body>


</html>