
<!doctype html>
<html lang="en">
  <head>
    <title>second page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
     
          
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!--     
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet"> -->

   
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/compheader.css" rel="stylesheet">
           
            <script>
                var temp =localStorage.getItem("offline_quiz");// queation array of quiz
                var quiz = JSON.parse(temp);

                var time =localStorage.getItem("timer");// overall timer
                var ot = JSON.parse(time);

                var index=-1;
                var answer ="";
                var interval = 0;
                var total={
                    marks:0,
                    correct : 0,
                };
               //enter the time in seconds here
              
              
                function convertSeconds(s){
                    var hour = Math.floor(s/3600);
                    var minute = Math.floor(s/60);
                    var second = s % 60;
                    return (minute).toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false})+':'+(second).toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false});
                }
               async function timer(){
                    var counter=0;
                   await LoadQuestion();
                  //  let q_timer = quiz[index].question_timer;
                     var timeleft = ot;
                    console.log("hello ",timeleft);
                    let time = document.getElementById("timer");
                     interval =  setInterval(()=>{
                        let ts = timeleft-counter
                        //console.log(counter);
                        time.innerHTML=(convertSeconds(ts));
                        if(timeleft==counter ){
                            clearInterval(interval);
                            counter=0;
                            document.getElementById("complete").innerHTML = "congrats quiz completed";
                            document.getElementById("timer").innerHTML= "total Score : "+total.marks;
                            document.getElementById("attempted").innerHTML= "score :"+(total.correct-1)+"/"+quiz.length; 
                            document.getElementById("main_frame").style.visibility= "hidden";
                            setTimeout(()=>{
                                console.log("question doen"); 
                            },3000)
                          }
                        counter+=1;
                    }, 1000);
        
                    function timeIt() {
                        let ts = timeleft-counter
                        var s1="laxman"
                       
                      
                            time.innerHTML=(convertSeconds(ts));
                        
                        
                      
                        if(timeleft==counter){//60 - 1 
                            clearInterval(interval);
                          
                            
                            new Audio('bell.mp3').play();//
                            console.log("done");

                            setTimeout(()=>{
                                console.log("question doen");
                               counter = 0;
                            },3000)
                           
                            
                            // kuldeep emit event from here to change the question page
                        }
                        counter+=1;
                    }
                   
        
                }
               

                
                function loadscore(){
                    /*
                        1.view hidden
                        2.correct answer & score
                        3.timer 5 seconds to display score
                        4.again load question and start timer
                        
                    */

                }
                function changer(){
                    var display = document.getElementById("main_frame");
                   var dis = display.parentElement;
                   display.style.visibility="hidden";
                   console.log("incorrect answer")
                       let w = document.getElementById("wrong");
                       w.style.visibility = "visible";
                       dis.innerHTML=w;
                }

               
                async function handleClick(e){
                    
                    var ele =e;
                   var a= e.getAttribute("value");
                   console.log("rahul",a);    
                   if(a==answer){
                        ele.setAttribute("class","alert alert-primary bg-success");
                       document.getElementById("status").innerHTML= "correct";
                        var mp = quiz[index].max_points;
                        total.marks=total.marks+mp;
                        total.correct = total.correct+1;
                        document.getElementById("status").setAttribute("class","btn btn-primary d-flex align-items-center btn-success")
                        document.getElementById("attempted").innerHTML= "score :"+total.correct+"/"+quiz.length;
                        setTimeout(async()=>{
                            ele.setAttribute("class","alert alert-primary");
                            console.log("inside in set timeout",a);
                            await LoadQuestion();
                         },1000)

                   }
                   else{
                    ele.setAttribute("class","alert alert-primary bg-danger");
                    document.getElementById("status").innerHTML= "incorrect";
                    document.getElementById("status").setAttribute("class","btn btn-primary d-flex align-items-center btn-danger")
                    console.log(" inside login ");
                   // document.getElementById("timer").innerHTML= " incorrect answer";
                    document.getElementById("attempted").innerHTML= "score :"+(total.correct)+"/"+quiz.length;
                    setTimeout(async()=>{
                        await ele.setAttribute("class","alert alert-primary");
                        console.log( "hi", await ele.setAttribute("class","alert alert-primary"));
                               await LoadQuestion();
                              
                        },1000)
                     
                   }
                   if(index==quiz.length-1){
                        clearInterval(interval);
                        document.getElementById("complete").innerHTML = "congrats quiz completed";
                        document.getElementById("timer").innerHTML= "total Score : "+total.marks;
                        document.getElementById("attempted").innerHTML= "score :"+total.correct+"/"+quiz.length; 
                        document.getElementById("main_frame").style.visibility= "hidden";  
                        document.getElementById("question_type").style.visibility= "hidden";                      
                   }
                   
                   
                }

                async function  LoadQuestion(){
                     index+=1;
                    if(index < quiz.length){
                        if(quiz[index].question_type =="MCQ"){
                            answer = quiz[index].correct_option;
                            let question = quiz[index].question_statement;
                            let option1 = quiz[index].options[0].option_id;
                            let option1_state = quiz[index].options[0].option_statement;
                            
                            let option2 = quiz[index].options[1].option_id;
                            let option2_state = quiz[index].options[1].option_statement;

                            let option3 = quiz[index].options[2].option_id;
                            let option3_state = quiz[index].options[2].option_statement;

                            let option4 = quiz[index].options[3].option_id;
                            let option4_state = quiz[index].options[3].option_statement;

                            
                            document.getElementById("1").innerHTML = option1_state;
                            document.getElementById("2").innerHTML = option2_state;
                            document.getElementById("3").innerHTML = option3_state;
                            document.getElementById("4").innerHTML = option4_state;
                            document.getElementById("question").innerHTML =question;

                            //adding the values
                            //console.log(option1);
                            document.getElementById("1").setAttribute('name',option1) ;
                            document.getElementById("1").setAttribute("value",option1);
                            document.getElementById("2").setAttribute("value",option2);
                            document.getElementById("3").setAttribute("value",option3);
                            document.getElementById("4").setAttribute("value",option4);
                            console.log("pratik",document.getElementById("1").getAttribute("value"));
                    
                            }
                        else{
                            document.getElementById("question_type").style.visibility= "hidden";
                            var fill =document.getElementById("question_type");
                            var type = document.getElementById("filling").cloneNode(true);
                            var parent = document.getElementById("main_frame");
                            parent.appendChild(type);

                        }
                    }  
                }

                async function handlefillAnswer(e){
                    var response = document.getElementById("fill").value;
                    var ele = e.parentElement;
                    if(response === quiz[index].options[0].option_statement||
                    response === quiz[index].options[1].option_statement||
                    response === quiz[index].options[2].option_statement){
                        document.getElementById("status").innerHTML= "correct";
                        document.getElementById("status").setAttribute("class","btn btn-primary d-flex align-items-center btn-success");                       
                        var mp = quiz[index].max_points;
                        total.marks=total.marks+mp;
                        total.correct = total.correct+1;
                        document.getElementById("attempted").innerHTML= "score :"+total.correct+"/"+quiz.length;
                       
                        setTimeout(async()=>{
                            ele.parentNode.removeChild(ele);
                            document.getElementById("question_type").style.visibility= "visible";
                            await LoadQuestion();
                         },1000)
                    }  
                    else{
                        document.getElementById("status").innerHTML= "incorrect";
                        document.getElementById("status").setAttribute("class","btn btn-primary d-flex align-items-center btn-danger")
                        document.getElementById("attempted").innerHTML= "score :"+(total.correct)+"/"+quiz.length;
                        setTimeout(async()=>{
                            ele.parentNode.removeChild(ele);
                            document.getElementById("question_type").style.visibility= "visible";
                                await LoadQuestion(); 
                            },1000)
                        }  
                    }
                
                // async function  LoadQuestion1(){
                //      index+=1;
                //      if(quiz[index].question_type =="MCQ"){
                //         answer = quiz[index].correct_option;
                //         let question = quiz[index].question_statement;
                //         let option1 = quiz[index].options[0].option_id;
                //         let option1_state = quiz[index].options[0].option_statement;
                        
                //         let option2 = quiz[index].options[1].option_id;
                //         let option2_state = quiz[index].options[1].option_statement;

                //         let option3 = quiz[index].options[2].option_id;
                //         let option3_state = quiz[index].options[2].option_statement;

                //         let option4 = quiz[index].options[3].option_id;
                //         let option4_state = quiz[index].options[3].option_statement;

                        
                //         document.getElementById("1").innerHTML = option1_state;
                //         document.getElementById("2").innerHTML = option2_state;
                //         document.getElementById("3").innerHTML = option3_state;
                //         document.getElementById("4").innerHTML = option4_state;
                //         document.getElementById("question").innerHTML =question;

                //         //adding the values
                //         //console.log(option1);
                //         document.getElementById("1").setAttribute('name',option1) ;
                //         document.getElementById("1").setAttribute("value",option1);
                //         document.getElementById("2").setAttribute("value",option2);
                //         document.getElementById("3").setAttribute("value",option3);
                //         document.getElementById("4").setAttribute("value",option4);
                //         console.log("pratik",document.getElementById("1").getAttribute("value"));
                //     }
                //     else{
                //             document.getElementById("question_type").style.visibility= "hidden";
                //             var fill =document.getElementById("question_type");
                //             var type = document.getElementById("")
                //             fill.appendChild(type);
                //     }
                // }

            </script>
            <style>
                body {
    background-color: #eee
}

label.radio {
    cursor: pointer
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.radio span {
    padding: 4px 0px;
    border: 1px solid black;
    display: inline-block;
    color: black;
    width: 100px;
    text-align: center;
    border-radius: 3px;
    margin-top: 7px;
    text-transform: uppercase
}

/* label.radio input:checked+span {
    border-color: red;
    background-color: red;
    color: #fff
} */

.ans {
    margin-left: 36px !important
}

.btn:focus {
    outline: 0 !important;
    box-shadow: none !important
}

.btn:active {
    outline: 0 !important;
    box-shadow: none !important
}
            </style>
</head>
     <body  onload="timer()"  style="margin: 0;">
        <div class="conatiner mt-5 ">
            <!-- navbar component--> 
    <%- include('partials/navbar') %>
        <div class="row " style="height:2vh"></div>
        <div class="container mt-2" style="margin-top:500px;">
            <div class="d-flex mt-5 justify-content-center row">
                <div class="col-md-10 col-lg-10">
                    <div class="border">
                        <div class="question bg-white p-3 border-bottom">
                            <div class="d-flex flex-row justify-content-between align-items-center mcq">
                                <h4 id="complete">MCQ Quiz</h4><span ><h3 id="timer"></h3> </span>
                            </div>
                        </div>
                        <div class="question bg-white p-3 border-bottom" id="main_frame" style="visibility: visible;">
                            <div class="d-flex flex-row align-items-center question-title">
                                <h3 class="text-danger">Q.</h3>
                                <h5 class="mt-1 ml-2" id="question">Which of the following country has largest population?</h5>
                            </div>

                            <div id="question_type" style="visibility: visible;">
                            <div class="ans ml-2">
                                <label class="radio"> <input type="radio"  >
                                   
                                     <div  id="1"  onclick="handleClick(this)" name="" value="option 1" class="alert alert-primary" role="alert">
                                    This is a primary alert—check it out!
                                  </div>
                                </label>
                            </div>
                           
                             
                             
                                <div class="ans ml-2">
                                    <label class="radio">
                                         <input type="radio"name="brazil" value="brazil"> 
                                         <div  id="2"  onclick="handleClick(this)" name="" value="" class="alert alert-primary" role="alert">
                                    This is a primary alert—check it out!</div>
                                    </label>
                                </div>
                          
                            
                                    <div class="ans ml-2">
                                        <label class="radio"> <input type="radio" name="brazil" value="brazil"> 
                                            <div  id="3"  onclick="handleClick(this)" name="" value="option 1" class="alert alert-primary" role="alert">
                                                This is a primary alert—check it out!</div>
                                        </label>
                                    </div>
                            
                                <div class="ans ml-2">
                                    <label class="radio"> <input type="radio"  name="brazil" value="brazil">
                                        <div  id="4"  onclick="handleClick(this)"  name="" value="" class="alert alert-primary" role="alert">
                                            This is a primary alert—check it out!</div>
                                    </label>
                                </div>
                            </div>
                            
                                 
                        </div>
                        <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button class="btn btn-primary d-flex align-items-center btn-danger" type="button" id="status">&nbsp;question status  </button><button class="btn btn-primary border-success align-items-center btn-success" id="attempted" type="button">score : <i class="fa fa-angle-right ml-2"></i></button></div>
                    </div>
                </div>
            </div>
        </div>


        <div id="scoresheet" style="visibility: hidden;">

            <h2>Your answer is correct </h2>
            
            <div >
                <h2>your score is :</h2>  <h2 id="score"> </h2>
                <button onclick="timer()"> next question</button>      
            </div>

        </div>
        <div id="wrong" style="visibility: hidden;">

            <h2>Your answer is incorrect </h2>
             
            <div id="filling" >
                <input type="text" id="fill"  >
              <button onclick="handlefillAnswer(this)"> next question</button> 
                </div>

        </div></div>
        </body>
    </html>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>